*.obj
*.o
Makefile
Makefile.Debug
Makefile.Release
moc*.cpp
build*/
*.user
*.user.3.2-pre1
*.user.*
*.pro.user
*.stackdump
~$*
*.cw~
*.c~
*.fct
*.cci
*.cof
Debug/
Release/
*.cbi
*.dch~
*.dip~
*.exe
*.sym*
*.map
*.lst
*.ol
*.a
*.rom
*.hex
*.prj~